# Prerequisites
*.d

**Dependencies

# visual studio specific files
*.user
*.ncb
*.sbr
*.suo
*.ilk
*.bsc
*.pdb
*.aps
*.pch
*.sdf
*.opensdf
*.sln.docstates
ipch/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
